/*
 * Mutelight
 */

/*****************************************************************************/

a:link, a:visited
{
	color: #7d7b88;
	text-decoration: underline;
}

a:hover
{
	color: #7d7b88;
	text-decoration: none;
}

body
{
	color: #a9a9a8;
	/* color: #c9c9c8; */
	font-family: tahoma, sans-serif;
	font-size: 11px;
	background: #000 url('/images/back.jpg') repeat-x;
	margin: 0;
	padding: 0;
	border: 0;
}

h1
{
	color: #bdbd8c;
	font-family: georgia;
	font-size: 20px;
	font-weight: normal;
	padding: 0 5px 0 5px;
}

img
{
	border: 0;
}

p
{
	text-align: justify;
}

/*****************************************************************************/

.alternate
{
	color: #7d7b88;
}

.mail
{
    color: #fff;
}

.important
{
    color: #fff;
    font-size: 13px;
}

div.content
{
	font-family: arial, sans-serif;
	line-height: 1.5em;
	font-size: 12px;
	border-bottom: 2px solid #3c253b;
	border-top: 2px solid #3c253b;
	padding: 0 5px 0px 5px;
}

img.social_icon
{
    vertical-align: middle;
    margin: 0 5px 0 0;
}

ul.article
{
	list-style-type: none;
	margin: 0;
	padding: 0 0 10px 0;
	border-top: 1px solid #3c253b;
}

ul.article li
{
	padding: 7px 5px 7px 5px;
	border-bottom: 1px solid #3c253b;
}

ul.article li a:link, ul.article li a:visited
{
	color: #c9c9c8;
	text-decoration: none;
}

ul.article li a:hover
{
	color: #c9c9c8;
	text-decoration: underline;
}

ul.content
{
	list-style-type: none;
	margin: 0;
	padding: 0 0 10px 0;
	border-top: 1px solid #1f081e;
}

ul.content li
{
	padding: 7px 5px 7px 5px;
	border-bottom: 1px solid #1f081e;
    vertical-align: middle;
}

ul.social
{
	list-style-type: none;
    display: table;
    width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	border-top: 1px solid #2f182e;
	border-bottom: 1px solid #2f182e;
}

ul.social li
{
    display: table-cell;
	padding: 7px 5px 7px 5px;
    vertical-align: middle;
    text-align: center;
}

/*****************************************************************************/

div#wrapper
{
	width: 464px;
	margin: 0 auto;
}

    div#about
    {
        font-family: arial, sans-serif;
        line-height: 1.5em;
        font-size: 12px;
        background-color: #240d23;
        border: 1px solid #3c253b;
        margin: 9px 0 0 0;
        padding: 0 9px 0px 9px;
    }

	div#header
	{
		background: #000;
		height: 313px;
	}

	div#main
	{
		width: 458px;
		margin: 0 auto;
	}

/*****************************************************************************/
