/*
 * Mutelight
 */

/*****************************************************************************/

*
{
	/* fix for font rendering in Safari */
	text-shadow: #000000 0 0 0px;
}

a:link, a:visited
{
	color: #7d7b88;
	text-decoration: underline;
}

a:hover
{
	color: #7d7b88;
	text-decoration: none;
}

body
{
	color: #a9a9a8;
	font-family: tahoma, sans-serif;
	font-size: 11px;
	background: #000 url('/images/back.jpg') repeat;
	margin: 0;
	padding: 0;
	border: 0;
}

code
{
	color: #fff;
}

h1
{
	color: #bdbd8c;
	font-family: georgia, serif;
	font-size: 20px;
	font-weight: normal;
	padding: 0 12px;
}

h2
{
	color: #bdbd8c;
	font-family: georgia, serif;
	font-size: 17px;
	font-weight: normal;
	padding: 0;
}

img
{
	border: 0;
	margin: 0;
}

p
{
	text-align: justify;
}

strong
{
	color: #fff;
	font-weight: bold;
}

/*****************************************************************************/

.alternate
{
	color: #7d7b88;
}

.hide
{
	display: none;
}

.mail
{
	color: #fff;
}

.important
{
	color: #fff;
	font-size: 13px;
}

div.content
{
	font-family: arial, sans-serif;
	line-height: 1.5em;
	font-size: 12px;
	border-bottom: 2px solid #3c253b;
	border-top: 2px solid #3c253b;
    margin: 0 7px;
	padding: 0 5px;
}

	div.content ul, div.content ol
	{
		padding: 0 0 0 20px;
	}

		div.content ul li, div.content ol li
		{
			text-align: justify;
			margin: 0 0 8px 0;
		}

	div.content p.meta
	{
		color: #7d7b88;
		font-size: 8pt; 
		font-style: italic;
	}

	div.content p.quote
	{
		color: #fff;
		font-style: italic;
		margin: 20px 19px;
	}

 
div.figure
{
	background: #000; 
	border: 1px solid #3c253b;
	font-size: 8pt;
	margin: 0;
	padding: 14px 16px;
	position: relative;
}

	div.figure img
	{
		display: block;
		margin: 20px auto;
	}

	div.figure p
	{
		margin: 0;
	}

ul.article
{
	list-style-type: none;
	margin: 0 10px 0 10px;
	padding: 0 0 10px 0;
	border-top: 1px solid #3c253b;
}

ul.article li
{
	padding: 7px 10px;
	border-bottom: 1px solid #3c253b;
}

ul.article li a:link, ul.article li a:visited
{
	color: #c9c9c8;
	text-decoration: none;
}

ul.article li a:hover
{
	color: #c9c9c8;
	text-decoration: underline;
}

ul.content
{
	list-style-type: none;
	margin: 0;
	padding: 0 0 10px 0;
	border-top: 1px solid #1f081e;
}

ul.content li
{
	padding: 7px 10px;
	border-bottom: 1px solid #1f081e;
	vertical-align: middle;
}

/*****************************************************************************/

div#radial
{
	background: transparent url('/images/radial.jpg') no-repeat;
	width: 868px;
	margin: 0 auto;
}

div#wrapper
{
	width: 478px;
	margin: 0 auto;
}

	div#about
	{
		font-family: arial, sans-serif;
		line-height: 1.5em;
		font-size: 12px;
		background: #20232d;
		position: relative;
		top: 9px;
		height: 250px;
		margin: 0 10px;
		padding: 3px 10px 0 10px;
		/* all opacity attributes */
		opacity: 0.8;
		filter:alpha(opacity=80);
		-moz-opacity:0.8;
		-khtml-opacity: 0.8;
	}

		div#about div#articles
		{
			float: right;
			vertical-align: bottom;
		}

		div#about div#articles a
		{
			text-decoration: none;
			display: block;
			text-align: center;
			line-height: 22px;
			background: #30333d;
			width: 80px;
			margin: -2px 0 0 0;
		}

			div#about div#articles a:hover
			{
				color: #fff;
                background: #50535d;
			}

	div#header
	{
		height: 313px;
		border: 0;
		padding: 0;
	}

/*****************************************************************************/
