---
title: Archive
---

%h2 All Articles
%ul.article
    - sorted_articles.each do |item|
        %li
            %a(href="#{route_path(item)}" title="#{item[:title]}")
                = item[:title]
            %span.alternate &mdash; #{pretty_time(item[:created_at])}

