---
---

%h2= item[:title]
.content
    != find_and_preserve(content || partial(item))
    %p.meta
        Posted on 
        %strong= pretty_time(item[:created_at])
        from
        %strong= item[:location]
