---
---

- max = config[:other_articles_max].to_i
%h2 Newest Articles
%ul.article
    - sorted_articles[0, config[:other_articles_max]].each do |item|
        %li
            %a(href="#{route_path(item)}" title="#{item[:title] || ''}")
                = item[:title]
            %span.alternate &mdash; #{pretty_time(item[:created_at])}
