---
---

%meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
%meta(name="author" content="Brandur Leach")

%link(rel="icon" type="image/png" href="/images/icon.png")
%link(rel="shortcut icon" type="image/png" href="/images/icon.png")
 
- # CSS
%link(href="/assets/css/screen.css" media="screen" rel="stylesheet" type="text/css")
%link(href="/assets/css/syntax.css" media="screen" rel="stylesheet" type="text/css")

- # Feed
%link(href="/atom.xml" rel="alternate" title="Mutelight" type="application/atom+xml")

- # OpenID
%link(rel="openid.server" href="http://www.myopenid.com/server")
%link(rel="openid.delegate" href="http://brandur.myopenid.com/")
%link(rel="openid2.local_id" href="http://brandur.myopenid.com")
%link(rel="openid2.provider" href="http://www.myopenid.com/server")
%meta(http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=brandur.myopenid.com")

- # Use google's links for easier caching
%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript")

- # Make logo link back to the main page
:javascript
    $(document).ready(function() {  
        var expanded = false;
        $("#header").click(function() {
            if (!expanded) {
                $('#header,#radial').animate({
                    height: '+=230'
                }, 200, 'linear', function() {
                    expanded = true;
                });
            } else {
                window.location = "http://mutelight.org/";
            }
        });
    }); 

