<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<title>{{ page.title }}</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Brandur Leach" />

	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />

	<link href="/atom.xml" rel="alternate" title="Mutelight" type="application/atom+xml" />
</head>

<body>

<div id="wrapper">
	<div id="header">
		<a href="http://mutelight.org" title="Mutelight"><img src="/images/header.png" alt="Mutelight Logo" /></a>
	</div>

{{ content }}

    <div id="about">
        <h1 style="display: none;">About</h1>

        <p class="important">I'm <strong>Brandur Leach</strong>, an engineer/developer operating out of Calgary, Canada doing work primarily in C#/.NET.</p>

        <p>I develop using a variety of languages, frameworks, and web APIs; most of my projects could be classified as web technologies. My current focus is functional languages like Erlang, Haskell, and F#.</p>

        <p>I like <a href="http://flickr.com/photos/brandurleach" title="Brandur on Flickr">photography</a>, <a href="http://github.com/fyrerise" title="Brandur on GitHub">coding</a>, <a href="http://last.fm/user/fyrerise" title="Brandur on Last.FM">listening to power and symphonic metal</a>, and tennis. In general I prefer working on systems with a terminal, but I spend most of my time under Windows at work. Everything that I write is done in Vim.</p>

        <p>E-mail me anytime at <strong class="mail">brandur@mutelight.org</strong>.</p>
    </div>

	<br /><br />
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6901854-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>

</html>
