---
layout: default
---
		<h1>{{ page.title }}</h1>
		<div class="content">
{{ content }}
            <p class="meta">Posted on <strong>{{ page.date | date_to_string }}</strong> from <strong>{{ page.location }}</strong></p>
		</div>

		<h1>Related Articles</h1>
		<ul class="article">
			{% for post in site.related_posts limit:3 %}
			<li><a href="{{ post.url}}" title="{{ post.title }}">{{ post.title }}</a> <span class="alternate">&mdash; {{ post.date | date_to_string }}</span></li>
			{% endfor %}
		</ul>
